/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 nov 2022, 20:41:09
    Author     : Cole
*/
.menu-bar, .menu-item, .context-menu {
    -fx-background-color : #121212;
    -fx-color: #000;
    -fx-font-weight: bold;

}
.menu-item:hover, .menu:hover, .menu:active, .menu:focus{
    -fx-background-color : #9D8DF1;
}
.menu, .menu-item  {
    -fx-cursor: hand;
}