/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 nov 2022, 9:43:38
    Author     : Cole
*/

.shadow{
    -fx-effect: dropshadow(gaussian, #333, 10, 0.5, 0, 0);
    -fx-padding: 10px
}
.toolbarStyle {
    -fx-background-color: #282828;
}
.hboxStyle .labelStyle{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.hbox .textfield{
    -fx-background-color: #F5F5F5;
}


.toolbarStyle .buttonStyle{
    -fx-background-color: #DBDBDB;
}

.toolbarStyle .buttonStyle:hover{
    -fx-background-color: #9D8DF1;
    -fx-cursor:hand;
}

.toolbarStyle .buttonStyle:hover > .glyphStyle{
    -fx-text-fill: white;
}

